<footer>
     <p>Copyright - Todos os diretos reservados - 2021</p>
</footer>
<a class="whatsapp-link" href="https://web.whatsapp.com/send?phone=5599489599960" target="_blank">
     <i class="fa fa-whatsapp"></i>
</a>





