
  <div class="container-fluid">
  <div class="row">
      <div class="col-2 nav">
      <img src="/images/cliente-2.png"alt="perfil">
      <div class="nav-info">
      <small class="boas-vindas">Bem vindo(a)!</small>
      <h2 class="cliente"><%= userSession.nome %></h2>
      <p class="email"><%= userSession.email %></p>
      <ul class="list-group">
          <li class="list-group-item nav-lista"><i class="fas fa-home menu">Dashboard</i></li>
          <li class="list-group-item nav-lista"><i class="fas fa-bell menu">Notificações</i></li>
          <li class="list-group-item nav-lista"><i class="fas fa-cog menu">Preferências</i></li>
        </ul>
      </div>            
      </div>
  



