<div class="container-fluid">
  <div class="row">
      <div class="col-2 nav">
      <img src="/images/imagem.png"alt="perfil">
      <div class="nav-info">
      <small>Seja bem vinda(o)!</small>
      <h2><%= userSession.nome %></h2>
      <p><%= userSession.email %><p/>
      <ul class="list-group">
          <li class="list-group-item nav-lista"><i class="fas fa-home">Dashboard</i></li>
          <li class="list-group-item nav-lista"><i class="fas fa-bell">Notificações</i></li>
          <li class="list-group-item nav-lista"><i class="fas fa-cog">Preferências</i></li>

        </ul>
      </div>            
      </div>