<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/dash.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css">
  <link rel="stylesheet" href="/stylesheets/callendar.css">
  <link rel="stylesheet" href="/stylesheets/agendamento.css">

  <title>Agendamentos</title>
</head>

<body>

  <%- include('./partials/profile') %>

  <div class="col-10 principal">
    <div class="row teste">
      <div class="col-3">
        <img src="/images/placeholder.png" alt="barberShop" class="profilePhoto">
        <h3>Mariana Silva</h3>
        <small>Especialista em corte</small> <br> <br>
        <button type="button" class="btn btn-warning input-maior"> <a href="/dash/<%=teste %>/checkout">Agendar</a>
        </button>

      </div>
      <div class="col-9">
        <div class="row">
          <div class="col">
            <img src="/images/iStock-1213803730.png" alt="carousel" class="carousel">
            <p>Corte Total</p>
            <small>Corte simples de cabelo com remoção total dos fios</small>
          </div>
          <div class="col">
            <img src="/images/iStock-509661310.png" alt="carousel" class="carousel">
            <p>Corte Simples</p>
            <small>Corte simples de cabelo com remoção total dos fios</small>
            <div class="flex">
              <div class="flex-1">

              </div>
              <div class="flex-2">

              </div>
            </div>
          </div>
          <div class="col">
            <img src="/images/iStock-518564667.png" alt="carousel" class="carousel">
            <p>Corte na Tesoura</p>
            <small>Corte simples de cabelo com remoção total dos fios</small>
          </div>
          <div class="col">
            <img src="/images/iStock-937443868.png" alt="carousel" class="carousel">
            <p>Corte Complexo</p>
            <small>Corte simples de cabelo com remoção total dos fios</small>
          </div>

        </div>
      </div>
    </div>



    <div id='calendar-container'>
      <div id='calendar'></div>
      <div id='external-events'>
        <p>
          <strong>Marque seu serviço</strong>
        </p>

        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
          <div class='fc-event-main'>Barba</div>
        </div>
        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
          <div class='fc-event-main'>Corte de cabelo</div>
        </div>

        <p>
          <input type='checkbox' id='drop-remove' />
          <label for='drop-remove'>remove after drop</label>
        </p>
      </div>

    </div>

  </div>

  <%- include('./partials/footer') %>

  <script src="https://kit.fontawesome.com/0a254eab35.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js"></script>

  <script src="/stylesheets/callendar.js"></script>
  <script src='fullcalendar/core/main.js'></script>
  <script src='fullcalendar/core/locales/pt-br'></script>
</body>

</html>