<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/stylesheets/dash.css">
  <link href='../lib/main.css' rel='stylesheet' />
  <script src='../lib/main.js'></script>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <link rel="stylesheet" href="../public/stylesheets/checkout.css">
  <title>Checkout</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 nav">
        <img src="../public/images/imagem.png" alt="perfil">
        <div class="nav-info">
          <small>Seja bem vinda.</small>
          <h2>Ana Maria</h2>
          <ul class="list-group">
            <li class="list-group-item nav-lista"><i class="fas fa-home">Dashboard</i></li>
            <li class="list-group-item nav-lista"><i class="fas fa-bell">Notificações</i></li>
            <li class="list-group-item nav-lista"><i class="fas fa-cog">Preferências</i></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 offset-md-2">
        <div class="form form-login">
          <div class="cadastro">
            <img src="/public/images/imagem.png" alt="foto_perfil"  class="perfil-img">
          </div>
           <div class="row">
                <p class="h2 nome">Mariana Silva</p>
                <small class="nome">Serviço Agendado</small>                   
                  <button type="submit" class="btn btn-warning input-maior ajuste">Corte Simples <br> <strong>11 de Agosto de 2020</strong>  <br> <strong>07:00-07:30 AM</strong>      </button>
                
                  <p class="nome">Total R$20,50</p>
                  <p class="nome">Descontos - R$10,00</p>
                  <p class="nome"><strong>Valor Final R$10,50</strong></p>
                  <small class="nome">Cupom aplicado PRIMEIRACOMPRA</small>
                  <SMALl class="nome">Inserir Cupom</SMALl>

                  <input type="text" placeholder="PRIMEIRACOMPRA">
                  <button type="submit" class="btn btn-warning paypal"> <img src="../public/images/paypal.svg" alt="paypal" class="img-paypal"> Pagar com PayPal</button>
                </div>
              
      </div>
      </div>
    </div> 

      <script src="https://kit.fontawesome.com/0a254eab35.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>