<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/dash.css">
    <title>DashBoard</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 nav">
            <img src="./images/foto-perfil.jpg" alt="perfil">
            <div class="nav-info">
            <small>Seja bem vinda.</small>
            <h2>Ana Maria</h2>
            <ul class="list-group">
                <li class="list-group-item nav-lista"><i class="fas fa-home">Dashboard</i></li>
                <li class="list-group-item nav-lista"><i class="fas fa-bell">Notificações</i></li>
                <li class="list-group-item nav-lista"><i class="fas fa-cog">Preferências</i></li>
              </ul>
            </div>            
            </div>
            <div class="col-7 principal">
                <div class="row">
                    <div class="col teste">
                        oi
                    </div>
                </div>
                <div class="row"><h2>Profissionais Disponíveis</h2></div>
                <div class="row">
                  <% for (let item of barbeiros) { %>
                    <div class="col-4 teste">
                        <ul>
                            <li>
                                <img src="/images/imgPerfiTeste/<%=item.img%>" alt="Foto perfil do profisional">
                            </li>
                            <li>Profissional: <%= item.nome %></li>
                            <li>Especialista em <%= item.especialidade%></li>
                            
                        </ul> 
                        
                    </div>
                  <% } %>
                </div>
                
            </div>
            <div class="col-3 agendamento">oi</div>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/0a254eab35.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>