#calendar {
  width: 100%;
  max-width: 900px;
  margin: 20px 10px;
}

#external-events {
  margin-top: 20px;
  height: 40vh;
  width: 30%;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events .fc-event {
  cursor: move;
  margin: 3px 0;
}

#calendar-container {
  position: relative;
  z-index: 1;
  margin-left: 20px;
  display: flex;

}