.perfil-img {
width: 150px;
height: 150px;
max-width: 100%;
border-radius: 40px;
margin: 70px auto;
}

.nome {
  text-align: center;
}

.row > input {
  margin: 10px auto;
  height: 58px;
  max-width: 60%;
  border-radius: 4px;
  background: #F9FAFF;
}

.paypal {
  background: #FFFFFF;
  max-width: 60%;
  margin: 10px auto;
  height: 58px;
  font-size: 1.125em;
}

.img-paypal {
  width: 20px;
  margin-right: 5px;
}

.ajuste {
  max-width: 60%;
  margin: 10px auto;
}

.agradecimento {
  width: 60%;
  margin: 15px auto;
  text-align: center;
}

.inicio {
  max-width: 60%;
  height: 58px;
  font-size: 1.3em;
}


