body {
    background: #F4F6FB;
    /* background-image: url('../images/ilustracao.svg'); */
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom 0px left 0px;
    
}

.ilustra {
   display:flex;
   position: absolute;   
   width: 37%;
   height: 537px;
   
}


h1 {
    font-weight: bold;
    font-size: 50px;
}

.logo {
    width: 121px;
    max-width: 100%;
    margin: 0px auto;
}

.cadastro {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.index {
    margin-top: 82px;
}

.form {
    background-color: #ffff;
    padding: 30px;
}

.form-login {
    padding: 60px;
}

.btn-plus {    
    font-size: 30px;
    margin: 50px auto;
    max-width: 90%;

}

.descricao {
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

p .email {
    font-size: 20px;
    color: #FFC100;
}




